html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  text-align: left;
  color: #333;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.6;
}
