.parent-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  margin: 0 auto; 
}

.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.icons a svg {
  transition: transform 0.1s ease;
}

.icons a:hover svg {
  transform: scale(1.2); 
}
.linkedin-icon {
  fill: black;
  width: 40px;
  height: 40px;
  transition: fill 0.3s ease;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.linkedin-icon:hover {
  fill: #0077b5; 
}

.instagram-icon {
  fill: black;
  width: 40px;
  height: 40px;
  transition: fill 0.3s ease;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.instagram-icon:hover {
  fill: #E1306C; 
}

.x-icon {
  fill: black;
  width: 40px;
  height: 40px;
  transition: fill 0.3s ease;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.x-icon:hover {
  fill: #1DA1F2; 
}

.github-icon {
  fill: black;
  width: 40px;
  height: 40px;
  transition: fill 0.3s ease;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.github-icon:hover {
  fill: #5c5c5c; 
}



@media (max-width: 768px) {
  .parent-container {
    width: 80vw; 
    margin: 0 auto;
  }

  .icons {
    display: flex;
    justify-content: center; 
    gap: 10px;
    width: 100%; 
    padding-bottom: 15px;
  }

  .custom-hr {
    width: 85vw; 
    left: 55.5%;
    transform: translateX(-50%);
  }
}